html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }
  


body {
    display: flex;
    flex-direction: column;
}

body > div {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

div > .section {
    max-width: 1050px;
    flex-grow: 1;
    border-color: salmon;
    border-width: 2px;
    border-style: solid;
} 




.header, 
.hero, 
.footer{
    background-color: #1F2937;
}



.header .section, .footer .section{
    height: 50px;
    display: flex;
}


.header .section{
    justify-content: space-between;
    padding-top: 8px;
}

.logo {
    font-weight: 800;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    padding-top: 6px;
    margin: 0;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}



.hero .section{
    display: flex;
    height: 400px;
    justify-content: space-between;
    align-items: center;
}

.hero-img, .hero-info  {
    width: 450px;
    height: 200px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-header {
    font-weight: 800;
    font-size: 48px;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    color: #E5E7EB;
    background-color: #3882F6;
    width: 74px;
    height: 28px;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
}

#button-hero {

}

.hero-img {
    color: #E5E7EB;
    border: solid lightcyan 3px;
}



/* INFO */
.info {
    height: 350px;
}

.info .section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 32px 0;
}

.info-content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.info-item-img {
    width: 150px;
    height: 150px;
    border: #3882F6 solid 3px;
    border-radius: 14px;
    margin-bottom: 8px;
}

.info-item-desc {
    width: 150px;
    text-align: center;
}



/* QUOTE */
.quote {
    background-color: #E5E7EB;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.backg-blue {
    background-color: #3882F6;
}

#button-mail-list {
    border-width: 2px;
    border-style: solid;
    border-color: white;
    display: inline-block;
}